extends ./layout.pug
block content
    each  post in posts
        .row.posts-hook
            .col-xs-12.col-sm-6
                include ./components/post.pug    
    include ./components/pagination