doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/35651701ba.js" , crossorigin="anonymous") 
        link(rel="stylesheet", href="/public/bootstrap/bootstrap.min.css")
        link(rel="stylesheet", href="/public/main.css")
        title #{title}
    body
        include ./components/navbar.pug
        .container
            block content
        script(src="/public/jquery/jquery.min.js") 
        script(src="/public/bootstrap/bootstrap.min.js")
        script(src="/public/js/main.js")